{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>{{product.productName}}</h1>
  <h3>Remember that the sale begins {{product.saleBeginningDate}} and ends {{product.saleEndingDate}}!</h3>
  <h3>Highest offer: {{highestOffer}}$</h3>
  <h3>Minimal Price: {{product.minimalPrice}}$</h3>
  
  {% if message %}
  <div class="alert alert-success">
    {{message}}
  </div>
  {% endif %}

  <form method="post" action="{{base_path}}/product/{{product.id}}/offer">
    <div class="form-group">
      <label>Amount you wish to offer (just numbers, not $ sign):</label>
      <input name="amount" class="form-control" type="text">
      <input name="product_id" value="{{product.id}}" type="hidden">
      <input name="customer_username" value="{{customer.username}}" type="hidden">
        <ul>
            {% for error in errors.amount %}
                <li>"{{error}}"</li>
            {% endfor %}
        </ul> 
    </div>
      
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Make an offer!</button>
    </div>
</form>
  
{% endblock %}