{% extends "base.html" %}
{% block content %}
  <h1>New Product</h1>
  
  {% if errors %}
    <div class="alert alert-danger">
      <strong>Product could not be added, try again!</strong>
    </div>
  {% endif %}
  

  <form method="post" action="{{base_path}}/product">
    <div class="form-group">
      <label>Name</label>
      <input name="productName" class="form-control" type="text" value="{{params.productName}}">
        <ul>
            {% for error in errors.productName %}
                <li>"{{error}}"</li>
            {% endfor %}
        </ul> 
    </div>
      
      

    <div class="form-group">
        <label>Category</label>
        <select class="form-control" name="categories[]" multiple="">
            {% for category in categories %}
                <option value="{{category.id}}">{{category.categoryName}}</option>
            {% endfor %}
        </select>
        <ul>
            {% for error in errors.category %}
                <li>"{{error}}"</li>
            {% endfor %}
        </ul>
    </div>


      
    <div class="form-group">
      <label>Sale Beginning, for example 2016/12/12 14:00</label>
      <input name="saleBeginningDate" class="form-control" type="text" value="{{params.saleBeginningDate}}">
      <ul>
            {% for error in errors.saleBeginningDate %}
                <li>"{{error}}"</li>
            {% endfor %}
      </ul> 
    </div>
      
    <div class="form-group">
      <label>Sale Ending, for example 2016/12/12 14:00</label>
      <input name="saleEndingDate" class="form-control" type="text" value="{{params.saleEndingDate}}">
      <ul>
            {% for error in errors.saleEndingDate %}
                <li>"{{error}}"</li>
            {% endfor %}
      </ul> 
    </div>
      
    <div class="form-group">
      <label>Desription</label>
      <textarea name="description" class="form-control">{{params.description}}</textarea>
      <ul>
            {% for error in errors.description %}
                <li>"{{error}}"</li>
            {% endfor %}
      </ul> 
    </div>
      
    <div class="form-group">
      <label>Minimal price (just numbers, not $ sign)</label>
      <input name="minimalPrice" class="form-control" type="text" value="{{params.minimalPrice}}">
      <ul>
            {% for error in errors.minimalPrice %}
                <li>"{{error}}"</li>
            {% endfor %}
      </ul>
    </div>
      
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Ready!</button>
    </div>
</form>
{% endblock %}
