{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>{{product.productName}}</h1>

   {% if customer.username == product.customer %}
  <p>
    <a href="{{base_path}}/product/{{product.id}}/product_modify" class="btn btn-default">Edit</a>
    {{forms.destroy_button("#{base_path}/product/#{product.id}/destroy")}}
  </p>
  {% endif %}
  
  {% if categories %}
  <h3>Categories</h3>
    <ul>
        {% for category in categories %}
            <li><strong>{{category.categoryName}}</strong></li>
        {% endfor %}
    </ul>
  {% endif %}
  
  <h3>Info</h3>
  <ul>
    <li><strong>Sale starts:</strong> {{product.saleBeginningDate}}</li>
    <li><strong>Sale ends:</strong> {{product.saleEndingDate}}</li>
    <li><strong>Minimal price:</strong> {{product.minimalPrice}}</li>
    <li><strong>Highest offer:</strong> 6 000 000$</li>
  </ul>
  
  <p>
    {{product.description}}
  </p>
  
  {% if message %}
  <div class="alert alert-success">
    {{message}}
  </div>
  {% endif %}
  
  <button type="submit" class="btn btn-primary">Make an offer!</button>
{% endblock %}