{% extends "base.html" %}
{% block content %}
  <h1>Tuote</h1>

  <p>
    <a href="{{base_path}}/product_modify" class="btn btn-default">Muokkaa</a>
  </p>

  <ul>
    <li><strong>Kategoria:</strong> Supernova</li>
    <li><strong>Kauppa alkaa:</strong> {{product.saleBeginningDate}}</li>
    <li><strong>Kauppa loppuu:</strong> {{product.saleEndingDate}}</li>
    <li><strong>Vähimmäishinta:</strong> {{product.minimalPrice}}</li>
    <li><strong>Korkein tarjous:</strong> 6 000 000$</li>
  </ul>
  
  <p>
    {{product.description}}
  </p>
  
  <button type="submit" class="btn btn-primary">Tarjoa!</button>
{% endblock %}