{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tuotetta</h1>

  {% if errors %}
    <div class="alert alert-danger">
        <strong>Product editing failed, try again!</strong>
    </div>
  {% endif %}

  {% if message %}
  <div class="alert alert-success">
    {{message}}
  </div>
  {% endif %}
  
  <form method="post" action="{{base_path}}/product/{{params.id}}/product_modify">
    <div class="form-group">
      <label>Products name</label>
      <input name="productName" class="form-control" type="text" value="{{params.productName}}">
      <ul>
            {% for error in errors.productName %}
                <li>"{{error}}"</li>
            {% endfor %}
      </ul>
    </div>
     
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" name="categories[]" multiple="">
            {% for category in categories %}
                <option value="{{category.id}}">{{category.categoryName}}</option>
            {% endfor %}
        </select>
        <ul>
            {% for error in errors.category %}
                <li>"{{error}}"</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="form-group">
      <label>Minimal Price</label>
      <input name="minimalPrice" class="form-control" type="text" value="{{params.minimalPrice}}">
      <ul>
            {% for error in errors.minimalPrice %}
                <li>"{{error}}"</li>
            {% endfor %}
      </ul>
    </div>
      
    <div class="form-group">
      <label>Sale begins</label>
      <input name="saleBeginningDate" class="form-control" type="text" value="{{params.saleBeginningDate}}">
      <ul>
            {% for error in errors.saleBeginningDate %}
                <li>"{{error}}"</li>
            {% endfor %}
      </ul>
    </div>
      
    <div class="form-group">
      <label>Sale ends</label>
      <input name="saleEndingDate" class="form-control" type="text" value="{{params.saleEndingDate}}">
      <ul>
            {% for error in errors.saleEndingDate %}
                <li>"{{error}}"</li>
            {% endfor %}
      </ul>
    </div>
      
    <div class="form-group">
      <label>Description</label>
      <input name="description" class="form-control" type="text" value="{{params.description}}">
      <ul>
            {% for error in errors.description %}
                <li>"{{error}}"</li>
            {% endfor %}
      </ul>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Ready!</button>
    </div>
  </form>
{% endblock %}