{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>{{product.productName}}</h1>

  <p>
    <a href="{{base_path}}/product/{{product.id}}/product_modify" class="btn btn-default">Edit</a>
  </p>
  
  {{forms.destroy_button("#{base_path}/product/#{product.id}/destroy")}}

  <ul>
    <li><strong>Category:</strong> Supernova</li>
    <li><strong>Sale starts:</strong> {{product.saleBeginningDate}}</li>
    <li><strong>Sale ends:</strong> {{product.saleEndingDate}}</li>
    <li><strong>Minimal price:</strong> {{product.minimalPrice}}</li>
    <li><strong>Highest offer:</strong> 6 000 000$</li>
  </ul>
  
  <p>
    {{product.description}}
  </p>
  
  {% if message %}
  <div class="alert alert-success">
    {{message}}
  </div>
  {% endif %}
  
  <button type="submit" class="btn btn-primary">Make an offer!</button>
{% endblock %}