{% extends "base.html" %}
{% block content %}

  {% if customer %}
    <h1>User {{customer.username}}</h1>
  {% endif %}
  
  {% if message %}
  <div class="alert alert-success">
    {{message}}
  </div>
  {% endif %}

  
  <h2>Search products from categories</h2>
    {% for category in categories %}
        <a href="{{base_path}}/category/{{category.id}}"><button type="button">{{category.categoryName}}</button></a>
    {% endfor %}
  
  
   <p>
    <a href="{{base_path}}/product/new" class="btn btn-success">Add a new product</a>
   </p>
   
   <h2>Search with a product keyword</h2>
   <form method="get" action="" class="form-inline">
    <div class="form group">
      <input name="search" class="form-control" placeholder="Keyword" type="text">
    </div>

    <button type="submit" class="btn btn-success">Search!</button>
  </form>


   <h2>Search all products</h2>
   
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sale begins</th>
        <th>Sale ends</th>
        <th>Minimal price</th>
        <th>Highest offer</th>
      </tr>
    </thead>

    <tbody>
      {% for product in products %}
      <tr>
        <td><a href="{{base_path}}/product/{{product.id}}">{{product.productName}}</a></td>
        <td>{{product.saleBeginningDate}}</td>
        <td>{{product.saleEndingDate}}</td>
        <td>{{product.minimalPrice}}$</td>
        <td>{{product.highestOffer}}$</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
   
   <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
{% endblock %}
