{% extends "base.html" %}
{% block content %}

  <h1>Kirjaudu sisään</h1>
  <form>
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" type="password">
    </div>

    <button type="submit" href="{{base_path}}/" class="btn btn-primary">Kirjaudu sisään</button>
  </form>
  
  <div>
    <a class="btn btn-danger" href="{{base_path}}/register" role="button">Rekisteröidy!</a>
  </div>
  
{% endblock %}
