{% extends "base.html" %}
{% block content %}
  <h1>Tuote</h1>

  <p>
    <a href="{{base_path}}/product_modify" class="btn btn-default">Muokkaa</a>
  </p>

  <ul>
    <li><strong>Kategoria:</strong> Supernova</li>
    <li><strong>Kauppa alkaa:</strong> 13.11.2016</li>
    <li><strong>Kauppa loppuu:</strong> 13.11.2026</li>
    <li><strong>Vähimmäishinta:</strong> 1 000 000$</li>
    <li><strong>Korkein tarjous:</strong> 6 000 000$</li>
  </ul>
  
  <p>
    Erinomainen hyvässä kunnossa oleva tuote!
  </p>
  
  <button type="submit" class="btn btn-primary">Tarjoa!</button>
{% endblock %}